
## Holistic Software Security ##
# LLVM Playground
[submodule "Fall_2025/ECE-60852/assignments/assignment1/LLVMPlayground"]
	path = Fall_2025/ECE-60852/assignments/assignment1/LLVMPlayground
	url = https://github.com/HolisticSoftwareSecurity/LLVMPlayground

# Dynamic Symbolic Execution engine
[submodule "Fall_2025/ECE-60852/assignments/assignment2/DynamicSymbolicExecution"]
	path = Fall_2025/ECE-60852/assignments/assignment2/DynamicSymbolicExecution
	url = https://github.com/HolisticSoftwareSecurity/DynamicSymbolicExecution.git

# CodeQL Sources
[submodule "Fall_2025/ECE-60852/assignments/assignment3/codeql"]
	path = Fall_2025/ECE-60852/assignments/assignment3/codeql
	url = https://github.com/github/codeql.git
[submodule "Spring_2026/STAT-51400/project"]
	path = Spring_2026/STAT-51400/project
	url = https://github.com/rcalvom/STAT-51400-project
