.git
.github
.venv
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.listing
*.log
*.out
*.pdf
*.pyg
*.pygstyle
*.pygtex
*.run.xml
*.synctex.gz
*.toc
*-luamml-mathml.html
_minted*/
_*.*.minted
__pycache__/
assets/diagrams/*.svg
