*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.listing
*.lof
*.log
*.lot
*.out
*.pyg
*.pygstyle
*.pygtex
*.run.xml
*.synctex.gz
*.toc
*-luamml-mathml.html
_minted*/
_*.*.minted
__pycache__/
*.py[cod]
assets/diagrams/*.svg
.venv/
